.Button{
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  background: #F6C60C;
  height: 64px;
}
.Button a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 70vw;
}
.Button p {
  font-family: 'Bebas neue';
  /* margin-right: calc((70vw / 2)); */
  /* transform: translateX(-50%); */
  margin: 0;
  font-size: 1.5rem;
  
}
.Logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: calc(70vw / 100 * 30);
  
  margin: 0;
  position: absolute;
  
  
  /* margin-left: 1.5rem; */
}
.Buttoncontent{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70vw;
  height: 64px;
  position: relative;
  
}
.Text{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  
}

